{% extends 'base.html' %}

{% block title %}Budget - Track Smart{% endblock %}
{% block content %}
    <div class="container mx-auto">    
        <h1 class="hidden md:block text-xl pl-2 pt-8 mb-4">Budget</h1>
        <h1 class="md:hidden text-xl text-center pt-8">Budget</h1>
        <div class="hidden md:flex justify-around text-center">
			<form method="post">
				{% csrf_token %}
				<label class="pr-24" for="name">Add a category:</label>
				<br>
				{{ category_form.name }}
				{% if category_form.name.errors %}
					<div class="text-red-500 text-xs">{{ category_form.name.errors }}</div>
				{% endif %}
				<br>
				<button type="submit" class="bg-gray-600 hover:text-white rounded text-gray-300 w-24 h-6 mt-2">Add Category</button>
			</form>
			<form method="post">
				{% csrf_token %}
				<label class="pr-24" for="name">Create a budget:</label>
				<br>
				{{ budget_form.category }}
				{% if budget_form.category.errors %}
					<div class="text-red-500 text-xs">{{ budget_form.category.errors }}</div>
				{% endif %}
				{{ budget_form.amount }}
				{% if budget_form.amount.errors %}
					<div class="text-red-500 text-xs">{{ budget_form.amount.errors }}</div>
				{% endif %}
				<br>
				<button type="submit" class="bg-gray-600 hover:text-white rounded text-gray-300 w-24 h-6 mt-2">Add Category</button>
			</form>
		<div id="categories">
			<h1>Category</h1>
			<ul>
				{% for category in categories %}
				<li>{{ category.name }}</li>
				{% endfor %}
			</ul>
		</div>
        </div>
        <div class="p-2 flex-col md:hidden text-center">
            
        </div>
    </div>
{% endblock %}
