{% extends 'base.html' %}

{% block title %}Expenses - Track Smart{% endblock %}

{% block content %}
    <div class="container mx-auto">    
        <h1 class="hidden md:block text-xl pl-2 pt-8 mb-4">Expenses</h1>
        <h1 class="md:hidden text-xl text-center pt-8">Expenses</h1>
        <div class="hidden md:flex justify-around text-center">
            <form method="post">
                {% csrf_token %}
                <label for="name">Name:</label>
                {{ form.name }}
                <label for="amount">Amount:</label>
                {{ form.amount }}
                <label for="category">Category:</label>
                {{ form.category }}
                <label for="date">Date:</label>
                {{ form.date }}
                <button type="submit" class="bg-gray-600 hover:text-white rounded text-gray-300 w-24 h-6 mt-2">Add Category</button>
            </form>
            <div id="expenses">
                <h1>Expenses</h1>
                <ul>
                    {% for expense in expenses %}
                        <li>{{ expense.name }} - {{ expense.amount }} - {{ expense.category }} - {{ expense.date }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="p-2 flex-col md:hidden text-center">
            <h1>Expenses</h1>
            <ul>
                {% for expense in expenses %}
                    <li>{{ expense.name }} - {{ expense.amount }} - {{ expense.category }} - {{ expense.date }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}