{% extends 'base.html' %}

{% block title %}Income - Track Smart{% endblock %}

{% block content %}
<div class="container mx-auto">    
    <h1 class="hidden md:block text-xl pl-2 pt-8 mb-4">Income</h1>
    <h1 class="md:hidden text-xl text-center pt-8">Income</h1>
    <div class="hidden md:flex justify-around text-center">
        <form method="post">
            {% csrf_token %}
            <label for="name">Name:</label>
            {{ form.name }}
            <label for="amount">Amount:</label>
            {{ form.amount }}
            <label for="date">Date:</label>
            {{ form.date }}
            <button type="submit" class="bg-gray-600 hover:text-white rounded text-gray-300 w-24 h-6 mt-2">Add Income</button>
        </form>
        <div id="expenses">
            <h1>Income</h1>
            <ul>
                {% for pay in income %}
                    <li>{{ pay.name }} - {{ pay.amount }} - {{ pay.date }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="p-2 flex-col md:hidden text-center">
        <h1>pay</h1>
        <ul>
            {% for pay in income %}
                <li>{{ pay.name }} - {{ pay.amount }} - {{ pay.date }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}