{% extends 'base.html' %}

{% block title %}Registration - Track Smart{% endblock %}

{% block content %}
	<div class="container text-center">
		<h1 class="text-xl font-bold py-4">Register</h1>
		<form method="post">
		{% csrf_token %}
		<div class="px-4 py-8 bg-gray-600 rounded max-w-sm w-full flex-col mx-auto text-center" id="registration-form">
			<div class="px-4" id="username">
			<label for="username">Username:</label>
			{{ form.username }}
			{% if form.username.errors %}
				<div class="text-red-500 text-xs">{{ form.username.errors }}</div>
			{% endif %}
			</div>
			<div class="px-4" id="email">
			<label for="username">Email:</label>
			{{ form.email }}
			{% if form.email.errors %}
				<div class="text-red-500 text-xs">{{ form.email.errors }}</div>
			{% endif %}
			</div>
			<div class="px-4" id="password1">
			<label for="username">Password:</label>
			{{ form.password1 }}
			{% if form.password1.errors %}
				<div class="text-red-500 text-xs">{{ form.password1.errors }}</div>
			{% endif %}
			</div>
			<div class="px-4" id="password2">
			<label for="username">Password:</label>
			{{ form.password2 }}
			{% if form.password2.errors %}
				<div class="text-red-500 text-xs">{{ form.password2.errors }}</div>
			{% endif %}
			</div>
		</div>
		<button type="submit" class="bg-gray-600 rounded text-white w-24 h-6 mt-5">Sign Up</button>
		</form>
	</div>
{% endblock %}
